.btn {
  background-color: #0f62fe;
  color: white;
  padding: 1em; 
  border: none;
  text-align: left;
  width: 200px;
  transition: 200ms;
}

.btn:hover {
  opacity: 0.8;
}

.btn-secondary {
  background-color: #393939;
}

